*{margin:0;padding:0;box-sizing:border-box}

body{
font-family:Segoe UI;
background:linear-gradient(-45deg,#ff6b6b,#4e73df,#1cc88a,#f6c23e);
background-size:400% 400%;
animation:gradient 12s ease infinite;
display:flex;justify-content:center;align-items:center;
min-height:100vh;color:white;
}

@keyframes gradient{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

.container{width:95%;max-width:800px;text-align:center}
.fade{animation:fade 0.5s ease}
@keyframes fade{from{opacity:0}to{opacity:1}}

.upload-btn{
background:white;color:#333;
padding:12px 25px;border-radius:30px;
cursor:pointer;font-weight:600;
transition:0.3s
}
.upload-btn:hover{transform:scale(1.1)}

button{
padding:10px 20px;border:none;border-radius:10px;
margin:8px;cursor:pointer;font-weight:bold;
transition:0.3s
}
button:hover{transform:scale(1.05)}

.option-btn{
display:block;width:100%;padding:12px;
margin:8px 0;border-radius:10px;border:none;
background:white;color:#333;font-weight:600
}

.timer-wrapper{position:relative;width:120px;margin:auto}
.progress-ring-bg{
fill:none;stroke:#ffffff55;stroke-width:8
}
.progress-ring-circle{
fill:none;stroke:#fff;stroke-width:8;
stroke-dasharray:314;stroke-dashoffset:0;
transition:stroke-dashoffset 1s linear
}
#timerText{
position:absolute;top:35%;left:50%;
transform:translate(-50%,-50%);
font-size:22px;font-weight:bold
}

.progress-bar{
width:100%;background:#ffffff33;
height:10px;border-radius:10px;margin-top:10px
}
#progressFill{
height:100%;background:white;width:0%;
border-radius:10px;transition:0.5s
}

.flashcard{
width:100%;height:180px;
perspective:1000px;margin:20px 0
}
.flashcard div{
position:absolute;width:100%;height:180px;
background:white;color:#333;
display:flex;justify-content:center;align-items:center;
border-radius:15px;font-weight:bold;
backface-visibility:hidden
}
.flash-back{transform:rotateY(180deg)}
.flashcard.flip{transform:rotateY(180deg);transition:0.6s}

.hidden{display:none}

.heat-box{
padding:10px;border-radius:8px;
margin:5px;display:inline-block;
color:white;font-weight:bold
}